mixin loginForm()
  form.form(action='/login' method='POST')
    h2 login
    label(for='email') Email
    input(type='email' name='email')
    label(for='password') Password
    input(type='password' name='password')
    input(type='submit' value='Login')